@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mooli", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  padding: 10px 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 1px #d3d3d3;
}

header h1 {
  padding: 0;
}

.logo {
  padding: 0px 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.right-header-icons {
  display: flex;
}

.right-header-icons div {
  padding: 10px;
}

i {
  cursor: pointer;
}

.sidebar {
  height: 92vh;
  float: left;
  background: #171717;
  width: 220px;
}

.sidebar ul li a {
  padding: 10px;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background: #d0d0d0;
}

.side-bar-active {
  background: #333 !important;
  color: #fff;
}

.main-container {
  padding: 20px;
  height: 92vh;
  overflow-y: scroll;
}

.main-container ul li {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  padding: 10px 0px;
  line-height: 25px;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex div {
  gap: 20px;
}

pre {
  margin-top: 10px;
}

.back {
  padding: 10px;
  background: #f3f3f3;
  color: #000;
  font-size: 1em;
  width: 220px;
  text-align: center;
}

.back:hover {
  background: #171717;
  color: #fff;
}

.subtitle {
  display: flex;
}

.gradient-line {
    
}