@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mooli", sans-serif;
  background-color: #fff;
}

.dark-mode {
  background-color: #1d1d1d;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  padding: 10px 0px;
}

header {
}

header a {
  color: #000;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode header a {
  color: #fff;
}

.right-header-icons {
  display: flex;
}

.right-header-icons div {
  padding: 10px;
}

.left-header-icons {
  display: flex;
}

.left-header-icons div {
  padding: 10px;
}

i {
  cursor: pointer;
}

.sidebar {
  height: 100vh;
  float: left;
  background: #e5e5e5;
  width: 250px;
  overflow-y: scroll;
}

.sidebar img {
  width: 50px;
}

.sidebar ul li a {
  padding: 5px;
  background: #ffffff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar ul li a:hover {
  background: #eaeaea;
}

.side-bar-active {
  background: #333 !important;
  color: #fff !important;
}

.main-container {
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
}

.main-container ul li {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  padding: 10px 0px;
  line-height: 25px;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex div {
  width: 25%;
}

pre {
  margin-top: 10px;
}

.back {
  padding: 10px;
  background: #f3f3f3;
  color: #000;
  font-size: 1em;
  text-align: center;
}

.back:hover {
  background: #171717;
  color: #fff;
}

.copy-button {
  border: none;
  padding: 10px;
  background: #f3f3f3;

  cursor: pointer;
}

.burger-menu {
  background: #fcfbfb;
  color: #000;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
}

.burger-menu:hover {
  background: #171717;
  color: #fff;
}

.subtitle {
  padding: 20px 0px;
}

.subtitle h2::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -6px;
  right: -20px;
  height: 3px;
  width: 60%;
  background: linear-gradient(90deg, #f32170, #ff6b08, #cf23cf, #fff);
  border-radius: 5px;
}

.dark-mode .subtitle h2::after {
  background: linear-gradient(90deg, #f32170, #ff6b08, #cf23cf, #1d1d1d);
}

.container {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}

.logo {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  background: linear-gradient(90deg, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
